<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Agile Engine test task</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <div id="root">
    <div class="container">
      <h2 class="header">Accounting Notebook</h2>
      <div id="transaction-history">

      </div>
      <button id="refresh-button">refresh</button>
    </div>
  </div>
  <script src="javascripts/index.js"></script>
</body>
</html>