<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Agile Engine test task</title>
</head>
<body>
  <div id="root">
    <div class="container">
      <div class="header">Accounting Notebook</div>
      <div id="transaction-history">

      </div>
      <div id="refresh-button">refresh</div>
    </div>
  </div>
  <script src="javascripts/index.js"></script>
</body>
</html>